body {
  font-family: "Montserrat";
  font-style: normal;
  font-size: 14px;
  line-height: 1.76;
  color: #131313;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul {
  margin: 0;
  padding: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

a {
  text-decoration: none;
  color: #fff;
}

li {
  padding: 0;
  margin: 0;
  list-style: none;
}

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  -webkit-clip-path: inset(50%);
          clip-path: inset(50%);
  margin: -1px;
}

.container {
  max-width: 479px;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  padding: 0 20px;
}

@media screen and (min-width: 320px) {
  .container {
    max-width: 320px;
  }
}
@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
  }
}
@media screen and (min-width: 1200px) {
  .container {
    max-width: 1200px;
  }
}
.products {
  padding: 60px 0;
  background-image: url("../images/Product_480_x1");
}

@media screen and (min-width: 768px) {
  .products__list {
    gap: 16px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

.products__item {
  border-radius: 24px;
  padding-top: 123px;
  padding-left: 40px;
  padding-right: 40px;
  position: relative;
  width: 280px;
  height: 420px;
  margin-bottom: 168px;
}
@media screen and (min-width: 768px) {
  .products__item {
    width: 224px;
    height: 428px;
    padding-left: 26px;
    padding-right: 26px;
    padding-top: 108px;
  }
}
.products__item-green {
  background-color: #AEC6A5;
}
.products__item-yellow {
  background-color: #EFD478;
}
.products__item-orange {
  background-color: #D6936D;
}

.products__item:last-child {
  margin-bottom: 0px;
}

.products__title {
  font-family: "Seymour One";
  font-style: normal;
  font-size: 30px;
  line-height: 1.26;
  text-align: center;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  margin-bottom: 148px;
}

.products__subtitle {
  font-weight: 800;
  font-size: 18px;
  line-height: 1.22;
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 12px;
}

.product__name {
  font-weight: 700;
  font-size: 20px;
  line-height: 1.2;
  text-align: center;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  margin-bottom: 40px;
}

.products__image-group {
  width: 200px;
  height: 200px;
  margin-left: auto;
  margin-right: auto;
  position: absolute;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  left: 50%;
  top: 0%;
}
@media screen and (min-width: 768px) {
  .products__image-group {
    top: -5%;
  }
}

.products__image {
  border-radius: 50%;
  display: block;
}

.products__image-shadow {
  z-index: -1;
  border-radius: 50%;
  position: absolute;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  left: 50%;
  top: 55.5%;
  width: 200px;
  height: 200px;
  -webkit-box-shadow: 0px 5.4px 20.3px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 5.4px 20.3px rgba(0, 0, 0, 0.25);
}

.products__image-shadow--green {
  background: #AEC6A5;
}

.products__image-shadow--yellow {
  background: #EFD478;
}

.products__image-shadow--orange {
  background: #D6936D;
}

.product__description {
  text-align: center;
  letter-spacing: 0.04em;
}

.products__link {
  width: 40px;
  height: 16px;
  background-color: aqua;
  z-index: 1;
  position: absolute;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  left: 50%;
  bottom: 0%;
}/*# sourceMappingURL=main.css.map */